.container {
  padding: 50px 50px;
  padding-bottom: 100px;
  color: var(--color-white);
}
.limit {
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

.limit h2 {
  font-family: var(--font_4);
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 15px;
  color: var(--color-white);
}
.limit small {
  font-family: var(--font_4);
  font-weight: 400;
  font-size: 15px;
  display: block;
  margin-bottom: 10px;
  color: var(--color-yellow);
}
.limit p {
  font-family: var(--font_4);
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: var(--color-white);
  margin-bottom: 60px;
}

.btn_active {
  width: 50%;
  background-color: var(--color-white);
  color: var(--color-black);
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  border: 1px solid #6c6c6c;
}
.btn_inactive {
  width: 50%;
  background-color: #1b1a21;
  color: var(--color-white);
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  border: 1px solid #302f36;
}
.left h3,
.right h3 {
  font-size: clamp(1.25rem, 1.123rem + 0.633vw, 1.875rem);
  font-weight: 400;
  font-family: var(--font_4);
  margin-bottom: 20px;
}
.left,
.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.image {
  border: 5px solid var(--color-yellow);
  border-radius: 10px;
  width: 300px;
  height: 300px;
  padding: 30px;
  position: relative;
}
.image::after {
  content: url("/play.png");
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(246, 252, 229, 0.166);
  opacity: 0;
  transition: 0.4s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image:hover::after {
  opacity: 1;
}
.image img {
  width: 100%;
}
.info {
  position: relative;
  width: 100%;
  padding-bottom: 80%;
}
.info iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 0;
}

@media (max-width: 1280px) {
  .container {
    padding: 50px 20px;
    padding-bottom: 0;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 50px 20px;
    padding-bottom: 0;
  }

  .left,
  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
@media (max-width: 500px) {
  .card .date {
    font-size: 10px;
  }
  .counter {
    padding: 20px 10px;
  }
  .info {
    position: relative;
    width: 100%;
    padding-bottom: 280%;
  }
}
