.container {
  position: absolute;
  top: 30px;
  width: 100%;
  z-index: 9999999;
  background-color: var(--color-white);
  border-radius: 10px;
  overflow: hidden;
}
#input_overlay {
  outline: none;
  margin-top: 0;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  background-color: var(--color-white);
}
.cards_container {
  padding: 20px;
  padding-left: 15px;
  width: 100%;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card {
  display: flex;
  gap: 10px;
}
.image_container {
  width: 80px;
  border-radius: 5px;
  overflow: hidden;
}
.image_container img {
  width: 100%;

  display: block;
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 5px;
  text-align: left;
}
.text h4 {
  color: var(--color-black3);
}
.text p {
  font-size: 12px;
  color: #444;
}
.back {
  display: none;
}
@media (max-width: 768px) {
  .container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 9999999;
    background-color: var(--color-white);
    border-radius: 0px;
    overflow: hidden;
  }
  #input_overlay {
    outline: none;
    margin-top: 0;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    background-color: var(--color-white);
    width: 100%;
    padding: 20px;
    padding-left: 60px;
    padding-top: 30px;
  }
  .back {
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 30px;
  }
}
