.navbar {
  position: fixed;
  top: 50px;
  left: 0px;
  right: 0px;

  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;

  color: var(--color-white);
  background-color: var(--color-black3);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
.container {
  width: 100%;
  max-width: 1400px;
  padding: 0 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.btn_buy {
  background-color: var(--color-yellow);
  color: var(--color-black);
  width: 160px;
  height: 40px;
  font-family: var(--font_4);
  font-weight: bold;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.btn_buy a {
  color: var(--color-black);
  cursor: pointer;
  font-size: 16px;
}
.btn_lang {
  background-color: var(--color-yellow);

  padding: 7px;
  border-radius: 10px;
  color: var(--color-black);
}
.links {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  font-family: var(--font_4);
  font-weight: bold;
  align-items: center;
  gap: 45px;
  font-size: 16px;

  cursor: pointer;
}
.links li a {
  color: var(--color-white);
  text-decoration: none;
}
.links li,
.menu_active ul li {
  transition: all 0.3s;
}
.links li a:hover,
.menu_active ul li a:hover {
  color: var(--color-yellow);
  cursor: pointer;
}
.menu {
  border-top: 1px solid #2a2a2a;
  position: fixed;
  top: 70px;
  left: 50px;
  right: 50px;
  height: 0;
  background-color: var(--color-black3);

  font-family: var(--font_4);
  transition: all 0.4s;
  opacity: 0;
}
.menu_active {
  border-top: 1px solid #4a4a4ac4;
  border-bottom: 1px solid #4a4a4ac4;
  position: fixed;
  top: 70px;
  left: 0px;
  right: 0px;
  height: 60px;
  opacity: 100;
  background-color: var(--color-black3);

  font-family: var(--font_4);
  transition: all 0.4s;
  opacity: 100;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  z-index: 10;
}
.menu_active ul {
  display: flex;
  color: var(--color-white);
  gap: 50px;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-weight: bold;
}

.menu ul {
  display: flex;
  color: var(--color-white);
  gap: 40px;
  justify-content: center;
  align-items: center;
  height: 0;
  display: none;
}

.links_mobile {
  display: none;
}

.menu_mobile {
  position: fixed;
  width: 100%;
  height: 100svh;
  z-index: 999999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: var(--color-yellow);
}
.menu_mobile svg {
  color: var(--color-yellow);
}
.menu_mobile_container {
  background-color: var(--color-black3);
  height: 100%;
  width: 200%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 0%;
  transition: 0.5s;
}
.menu_mobile_container_active {
  background-color: var(--color-black3);
  height: 100%;
  width: 200%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: -100%;
  transition: 0.5s;
}
.menu_mobile_links {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.menu_mobile_links li {
  font-size: 25px;
  margin-bottom: 20px;
  font-family: var(--font_4);
  font-weight: bold;
  color: var(--color-white);
  white-space: nowrap;
}
.menu_mobile_links li a {
  color: var(--color-white);
  white-space: nowrap;
}
.btn_close {
  position: absolute;
  top: 20px;
  right: 20px;
  color: var(--color-white);
  z-index: 999999;
}

@media (max-width: 1220px) {
  .links {
    gap: 15px;
  }
}

@media (max-width: 878px) {
  .navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 70px;
  }
  .links {
    display: none;
  }
  .links_mobile {
    display: block;
  }
  .btn_buy {
    display: none;
  }
  .center {
    flex: 1;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 500px) {
  .logo {
    width: 140px;
    height: 35px;
  }
}
