.container {
  color: var(--color-white);
  border-top: 1px solid #4e4e4e;
  border-bottom: 1px solid #4e4e4e;
  width: 100%;
  padding: 20px;
  position: fixed;
  top: 69px;
  z-index: 99;
  background-color: var(--color-black3);
}
.container ul {
  display: flex;
  gap: 80px;
  justify-content: center;
}
.container ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: var(--color-white);
  font-weight: 400;
  white-space: nowrap;
}
.container ul li a:hover {
  color: var(--color-yellow);
  cursor: pointer;
}

@media (max-width: 1360px) {
  .container {
    padding: 10px;
  }
  .container ul {
    display: flex;
    gap: 60px;
    justify-content: center;
  }
  .container ul li {
    font-size: 13px;
  }
  .container ul li:hover {
    color: var(--color-yellow);
    cursor: pointer;
  }
}
@media (max-width: 760px) {
  .container {
    overflow: scroll;
    margin: 0 auto;
  }
  .container ul {
    gap: 20px;
    margin: 0 auto;
    width: 510px;
  }
}
/* @media (max-width: 450px) {
  .container {
    padding: 10px;
  }

  .container ul li {
    font-size: 13px;
  }
  .container ul li:hover {
    color: var(--color-yellow);
    cursor: pointer;
  }
} */
/* @media (max-width: 355px) {
  .container {
    padding: 10px;
  }
  .container ul {
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  .container ul li {
    font-size: 13px;
  }
  .container ul li:hover {
    color: var(--color-yellow);
    cursor: pointer;
  }
} */
