.container {
  border: 1px solid #ccc;

  padding: 20px;
  border-radius: 10px;
}
.row {
  margin-bottom: 15px;
  display: flex;
  gap: 10px;
}
.label {
  color: var(--color-white);
  margin-bottom: 2px;
}
.data {
  border: 1px solid #5c5b5b;
  padding: 10px;
  color: var(--color-white);
  border-radius: 5px;
  background-color: #242424;
  width: 100%;
}
.data2 {
  border: 1px solid #5c5b5b;
  padding: 10px;
  color: var(--color-white);
  border-radius: 5px;
  background-color: #242424;
  width: 50%;
  text-align: right;
}
.data3 {
  color: greenyellow;
  border: 1px solid #5c5b5b;
  padding: 10px;

  border-radius: 5px;
  background-color: #242424;
  width: 50%;
  text-align: right;
}

@media (max-width: 574px) {
  .container {
    padding: 10px;

    width: 95%;
  }
  .data {
    font-size: 12px;
  }
}
