@import url("https://fonts.googleapis.com/css2?family=Unica+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@300;400;700&family=Teko:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
:root {
  --color-white: #f1f1f1;
  --color-white2: #f8f8fa;
  --color-white3: #fff;
  --color-black: #303030;
  --color-black2: #24262b;
  --color-black3: #111;
  --color-black4: #1d1d1d;
  --color-black5: #2c2c2c;
  --color-primary: #f9ba32;
  --color-primary-hover: #e5a500;
  --color-secondary: #1781a8;
  --color-yellow: #f9ba32;

  --font_1: "Unica One", cursive;
  --font_2: "Anton", sans-serif;
  --font_3: "Roboto", sans-serif;
  --font_4: "Rubik", sans-serif;
  --font_5: "Orbitron", sans-serif;

  --swiper-navigation-color: #bcbcbc;
  --swiper-pagination-color: #bcbcbc;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;

  background-color: var(--color-black3);
  position: relative;
  z-index: -1;
}
html,
body {
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}
a {
  font-weight: bold;
  color: var(--color-yellow);
  font-family: var(--font_4);
  text-decoration: none;
}
.strong {
  font-weight: bold;
  color: var(--color-yellow);
  font-family: var(--font_4);
}
strong .link {
  font-weight: bold;
  color: var(--color-yellow);
  font-family: var(--font_4);
}
strong {
  font-weight: bold;
  color: var(--color-yellow);
  font-family: var(--font_4);
}
button {
  cursor: pointer;
}

/* quitar */

.avatar {
  background-color: #1b1b1f;
  border-radius: 100%;
  height: 38px;
  width: 38px;
}

.button {
  background-color: #646cff;
  border-color: #747bff;
  border-radius: 20px;
  border: 1px solid #747bff;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  height: 38px;
  line-height: 38px;
  padding: 0 20px;
  transition: background-color 0.2s;
}
.button:hover {
  background-color: #747bff;
}
.button:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

@media screen and (max-width: 600px) {
  .buttons {
    flex-direction: column;
  }
}

.container {
  background-color: #202127;
  border-radius: 8px;
  border: 1px solid #2e2e32;
  padding: 16px;
  margin: 16px;
  width: auto;
}

.inline {
  align-items: center;
  display: flex;
  gap: 8px;
}

@media screen and (max-width: 600px) {
  .inline {
    flex-direction: column;
    gap: 12px;
    text-align: center;
  }
}

.text {
  font-weight: 400;
  white-space: nowrap;
}

.row {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .row {
    flex-direction: column;
    gap: 12px;
  }
}

.subtext {
  opacity: 0.7;
  font-weight: 400;
  font-size: 12px;
}

.stack {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

/* loader */

.loader {
  color: var(--color-primary);
  font-size: 45px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  transform: translateZ(0);
  animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
}

/* HTML: <div class="loader"></div> */
.spinner {
  background-color: #921717;
  width: 20px;
  height: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #140d01 94%, #0000) top/5px 5px
      no-repeat,
    conic-gradient(#0000 30%, #130c01);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 5px), #000 0);
  animation: l13 1s infinite linear;
}

@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}
@keyframes mltShdSpin {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@keyframes round {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
