.container {
  background-color: var(--color-black3);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 170px;
  margin-bottom: 70px;
  padding: 0 20px;
}
.limit {
  max-width: 1400px;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 60px;
}
.container .limit h2 {
  font-family: var(--font_4);
  font-weight: 400;
  font-size: 40px;

  letter-spacing: 2px;
  text-align: center;
  color: var(--color-white);
  margin-bottom: 20px;
}
.container .limit .sub_title {
  font-family: var(--font_4);
  font-weight: 400;
  font-size: 16px;

  text-align: center;
  color: var(--color-white);
  margin-bottom: 60px;
}
.container .limit small {
  font-family: var(--font_4);
  font-weight: 400;
  font-size: 14px;
  display: block;
  text-align: center;
  color: var(--color-yellow);
  margin-bottom: 10px;
}
.wrapper {
  display: flex;
  gap: 30px;
}

.left {
  display: flex;
  gap: 55px;

  justify-content: center;
  flex-wrap: wrap;
  width: 60%;
  overflow-y: auto;
}

.right {
  flex: 1;

  display: flex;
  position: relative;
}

.map_absolute {
  position: sticky;
  background-color: #5a5a5a;
  height: 50px;
  align-self: flex-start;

  top: 200px;
  height: 75vh;

  width: 550px;

  border: 1px solid #5a5a5a;
  border-radius: 10px;
  overflow: hidden;
}

.image_container {
  width: 380px;

  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #5a5a5a;
  transition: 0.4s;
}
.image_container:hover {
  border: 1px solid var(--color-yellow);
}
.image_container_active {
  width: 380px;

  border-radius: 10px;
  overflow: hidden;
  border: 1px solid var(--color-yellow);
}
.image_container img {
  width: 100%;
}
.image_container_active img {
  width: 100%;
}

.card {
  color: var(--color-black3);

  border-radius: 10px;
  font-family: var(--font_4);

  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card h3 {
  font-family: var(--font_4);
  font-size: 17px;
  font-weight: 600;
  color: var(--color-white);
  text-align: left;
  margin-top: 10px;
  margin-bottom: 5px;
}

.card p {
  color: var(--color-white);
}
.full_screen_icon {
  display: none;
}

@media (max-width: 1360px) {
  .container {
    padding: 0 20px;
    margin-top: 150px;
  }
  .card {
    width: 300px;
    text-align: center;
  }
  .image_container {
    width: 300px;
  }
  .image_container_active {
    width: 300px;
  }
  .map_absolute {
    top: 180px;
    height: 70vh;
  }
}
@media (max-width: 1280px) {
  .container {
    padding: 0 20px;
  }
}
@media (max-width: 880px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    flex-flow: column-reverse;
  }
  .left {
    width: 101%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .right {
    width: 100%;
  }
  .container {
    margin-top: 145px;
    margin-bottom: 70px;
    padding: 0px;
  }
  .limit {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .map_absolute {
    position: sticky;
    background-color: #5a5a5a;

    align-self: flex-start;

    top: 200px;
    height: 40vh;

    width: 100%;

    border: 1px solid #5a5a5a;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px;
  }
  .map_absolute_full {
    position: sticky;

    align-self: flex-start;

    top: 200px;
    height: auto;

    width: 100%;

    border-radius: 0px;
    overflow: hidden;
  }
  .full_screen_icon {
    background-color: var(--color-white);
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 99999;
    padding: 5px;
    color: #7a7a7a;
    border-radius: 3px;
  }
  .cards_container {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .image_container {
    max-width: 90vw;
    width: 100%;
  }
  .image_container img {
    width: 100%;
  }

  .card {
    min-height: auto;
    width: 100%;
  }
  .image_container_active {
    width: 100%;
  }
  .map_container_detail {
    position: absolute;
    bottom: 30px;
    left: 20px;
    right: 20px;

    background-color: var(--color-white);
    z-index: 999999;
    border-radius: 10px;
  }
  .wrapper {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .map_container_detail img {
    width: 100%;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .map_container_detail h3 {
    color: #242424;
    font-size: 17px;
    text-align: center;
    padding: 0 10px;
    padding-top: 5px;
  }
  .map_container_detail p {
    color: var(--color-black3);
    text-align: center;
    color: #4e4e4e;
    padding: 10px;
    padding-top: 0;
    font-size: 14px;
  }
  .close_btn {
    position: absolute;
    z-index: 9999999;
    background-color: var(--color-white);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    right: 10px;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 768px) {
}
@media (max-width: 600px) {
  .image_container:hover {
    border: 1px solid #5a5a5a;
  }
}
